/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #333;
    padding: 20px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

button#theme-toggle {
    background-color: white;
    color: #333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

section {
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

/* Smooth scroll */
html {
    scroll-behavior: smooth;
}